---
http_interactions:
- request:
    method: post
    uri: https://sandbox.shiphawk.com/api/v1/rates/full?api_key=3873c1e7457bedd2ca
    body:
      encoding: UTF-8
      string: ! '{"items":[{"width":"10","length":"10","height":"10","weight":"10","value":"100","id":"50"},{"width":"10","length":"10","height":"10","weight":"10","value":"100","id":"1380"}],"from_zip":"93105","to_zip":"93117"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
      Etag:
      - ! '"37f4a30c1b9ef895b04fb180602eca25"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"1bff184b790f523cffab06445c4a9286","service":"GPX Standard
        Station-Station","price":31.31,"pickup":[{"agent_id":167,"driving_miles":3.3,"driving_minutes":6.6,"total_cost":59.019999999999996}],"materials":[{"items":[{"xid":50,"id":50,"length":10.0,"width":10.0,"height":10.0,"weight":10.0,"value":100.0}],"materials_cost":17.6,"materials":[{"name":"16x16x16
        Box","qty":1,"uom":"pcs.","unit_cost":5.0,"ext_cost":5.0,"weight":1.9},{"name":"Bubble
        wrap - 12x24 large","qty":4,"uom":"pcs.","unit_cost":1.25,"ext_cost":5.0,"weight":0.5},{"name":"Void
        Fill (peanuts, air pockets, etc.)","qty":1.9,"uom":"cu. ft.","unit_cost":4.0,"ext_cost":7.6,"weight":0.2}]},{"items":[{"xid":1380,"id":1380,"length":10.0,"width":10.0,"height":10.0,"weight":10.0,"value":100.0}],"materials_cost":8.0,"materials":[{"name":"14x14x14
        Box","qty":1,"uom":"pcs.","unit_cost":4.0,"ext_cost":4.0,"weight":1.5},{"name":"Void
        Fill (peanuts, air pockets, etc.)","qty":1.0,"uom":"cu. ft.","unit_cost":4.0,"ext_cost":4.0,"weight":0.1}]}],"labors":[{"items":[{"xid":50,"id":50,"length":10.0,"width":10.0,"height":10.0,"weight":10.0,"value":100.0}],"labor_cost":5.74,"labors":[{"name":"16x16x16
        Box Labor","qty":1.2,"unit_cost":70,"ext_cost":1.4},{"name":"Bubble wrap -
        12x24 large Labor","qty":1.44,"unit_cost":70,"ext_cost":1.68},{"name":"Void
        Fill (peanuts, air pockets, etc.) Labor","qty":2.28,"unit_cost":70,"ext_cost":2.66}]},{"items":[{"xid":1380,"id":1380,"length":10.0,"width":10.0,"height":10.0,"weight":10.0,"value":100.0}],"labor_cost":2.8,"labors":[{"name":"14x14x14
        Box Labor","qty":1.2,"unit_cost":70,"ext_cost":1.4},{"name":"Void Fill (peanuts,
        air pockets, etc.) Labor","qty":1.2,"unit_cost":70,"ext_cost":1.4}]}],"accessorials":[]}]'
  recorded_at: Mon, 22 Sep 2014 20:20:06 GMT
recorded_with: VCR 2.9.2
