---
http_interactions:
- request:
    method: get
    uri: https://sandbox.shiphawk.com/api/v1/items/2071/details?api_key=3873c1e7457bedd2ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - ! '"b6efd62057cb64ebfb882d36575bbfdb"'
    body:
      encoding: US-ASCII
      string: ! '{"id":2071,"name":"Table Lamp w/o bulb","category":"Home and Garden","length":"25.0","height":"12.0","width":"24.0","weight":"29.0","value":"800.0"}'
  recorded_at: Tue, 23 Sep 2014 19:11:37 GMT
recorded_with: VCR 2.9.2
