---
http_interactions:
- request:
    method: put
    uri: https://sandbox.shiphawk.com/api/v1/catalog_sales/14CIN001/pickup_times?api_key=3873c1e7457bedd2ca
    body:
      encoding: UTF-8
      string: ! '{"pickup_time":{"start_time":"2015-06-18 10:00:00","end_time":"2015-06-18
        14:00:00"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - ! '"7363e85fe9edee6f053a4b319588c086"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true}'
  recorded_at: Wed, 17 Jun 2015 15:50:25 GMT
recorded_with: VCR 2.9.2
