---
http_interactions:
- request:
    method: post
    uri: https://sandbox.shiphawk.com/api/v1/orders/3836ec569cc95ffbe66a57467f56b7e6/request?api_key=3873c1e7457bedd2ca
    body:
      encoding: UTF-8
      string: ! '{"origin_address":{"first_name":"John","last_name":"Smith","company":"Twitter,
        Inc","phone_num":"8053352432","email":"john@example.com","address_line_1":"300
        BOYLSTON AVE E","city":"Santa Barbara","state":"California","zipcode":93106},"destination_address":{"first_name":"John","last_name":"Smith","company":"Twitter,
        Inc","phone_num":"8053352432","address_line_1":"300 BOYLSTON AVE E","city":"Texas
        City","state":"Texas","zipcode":77591},"pickup":[{"start_time":"2015-07-27T04:51:36.645-07:00","end_time":"2015-07-27T07:51:36.645-07:00"},{"start_time":"2015-07-28T04:51:36.645-07:00","end_time":"2015-07-28T07:51:36.646-07:00"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
      Etag:
      - ! '"b326b5062b2f0e69046810717534cb09"'
    body:
      encoding: US-ASCII
      string: ! '{ "shipment_id": 123456, "bol": " ... base64 encoded data ..." }'
  recorded_at: Fri, 01 Aug 2014 15:20:19 GMT
recorded_with: VCR 2.9.2
