---
http_interactions:
- request:
    method: post
    uri: https://sandbox.shiphawk.com/api/v1/shipments/book?api_key=25df4732912c7f4991f5b67e2a1e12bd
    body:
      encoding: UTF-8
      string: ! '{"rate_id":"3836ec569cc95ffbe66a57467f56b7e6","order_email":"test@test.com","billing_address":{"first_name":"Jeff","last_name":"Smith","address_line_1":"123
        Cherry Lane","city":"Cincinnati","state":"OH","zipcode":45202,"phone_num":5135551212},"origin_address":{"first_name":"John","last_name":"Smith","company":"Twitter,
        Inc","phone_num":"8053352432","email":"john@example.com","address_line_1":"300
        BOYLSTON AVE E","city":"Santa Barbara","state":"California","zipcode":93106},"destination_address":{"first_name":"John","last_name":"Smith","company":"Twitter,
        Inc","phone_num":"8053352432","address_line_1":"300 BOYLSTON AVE E","city":"Texas
        City","state":"Texas","zipcode":77591},"pickup":[{"start_time":"2015-07-27T04:51:36.645-07:00","end_time":"2015-07-27T07:51:36.645-07:00"},{"start_time":"2015-07-28T04:51:36.645-07:00","end_time":"2015-07-28T07:51:36.646-07:00"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Status:
      - 400 Bad Request
    body:
      encoding: US-ASCII
      string: ! '{"error":"accessorials is missing"}'
  recorded_at: Mon, 22 Sep 2014 20:36:15 GMT
recorded_with: VCR 2.9.2
