---
http_interactions:
- request:
    method: post
    uri: https://sandbox.shiphawk.com/api/v1/rates?api_key=3873c1e7457bedd2ca
    body:
      encoding: UTF-8
      string: ! '{"items":[{"width":"10","length":"10","height":"10","weight":"10","value":"100","id":"50"},{"width":"10","length":"10","height":"10","weight":"10","value":"100","id":"1380"}],"from_zip":"93105","to_zip":"93117","carriers":["fedex","clearlane"],"rate_filter":"min_rate"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
      Etag:
      - ! '"2233c548c4df5c3aa249574e1ee6549c"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"3836ec569cc95ffbe66a57467f56b7e6","service":"GPX Standard
        Station-Station","price":31.31}'
  recorded_at: Fri, 01 Aug 2014 14:36:30 GMT
recorded_with: VCR 2.9.2
