---
http_interactions:
- request:
    method: get
    uri: https://sandbox.shiphawk.com/api/v1/items/search/table?api_key=3873c1e7457bedd2ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: Bad Gateway
    headers:
      Content-Type:
      - application/json
      Status:
      - 502 Bad Gateway
      Etag:
      - ! '"f7f59f4819564bbe17451d4777b7428a"'
    body:
      encoding: US-ASCII
      string: ! '<html> <head><title>502 Bad Gateway</title></head> <body bgcolor="white"> <center><h1>502 Bad Gateway</h1></center> <hr><center>nginx</center> </body> </html>'
  recorded_at: Fri, 01 Aug 2014 15:00:46 GMT
recorded_with: VCR 2.9.2
