---
http_interactions:
- request:
    method: get
    uri: https://sandbox.shiphawk.com/api/v1/items/search/table?api_key=3873c1e7457bedd2ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - ! '"f7f59f4819564bbe17451d4777b7428a"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":2071,"name":"Table Lamp w/o bulb","category":"Home and Garden","length":"25.0","height":"12.0","width":"24.0","weight":"29.0","value":"800.0"},{"id":2511,"name":"Table","category":"Sporting
        Goods","length":"48.0","height":"16.0","width":"36.0","weight":"80.0","value":"400.0"},{"id":1246,"name":"Table","category":"Home
        and Garden","length":"50.0","height":"24.0","width":"36.0","weight":"100.0","value":"450.0"},{"id":1538,"name":"Tabletop
        Picture Frame","category":"Home and Garden","length":null,"height":null,"width":null,"weight":null,"value":null},{"id":1868,"name":"Table
        Runner","category":"Hom[...]
