---
http_interactions:
- request:
    method: get
    uri: https://sandbox.shiphawk.com/api/v1/shipments/tracking/status?api_key=3873c1e7457bedd2ca&shipment_id=1007505
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"shipment_id":"1007505", "status": "ordered", "status_updates": [
        {"timestamp": "2014-07-25T09:07:59.514-07:00", "message": "booked"},
        {"message": "ordered" }]}'
  recorded_at: Tue, 23 Sep 2014 18:58:20 GMT
recorded_with: VCR 2.9.2
