---
http_interactions:
- request:
    method: get
    uri: https://sandbox.shiphawk.com/api/v1/shipments/1007505/status?api_key=3873c1e7457bedd2ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - ! '"6995b29a3ed4620cb54f95c629162e34"'
    body:
      encoding: US-ASCII
      string: ! '{"shipment_id":"1007505", "status": "ordered", "status_updates": [
        {"timestamp": "2014-07-25T09:07:59.514-07:00", "message": "booked"},
        {"message": "ordered" }]}'
  recorded_at: Wed, 31 Dec 2014 14:09:18 GMT
recorded_with: VCR 2.9.2
