---
http_interactions:
- request:
    method: post
    uri: https://sandbox.shiphawk.com/api/v1/items/suggest?api_key=3873c1e7457bedd2ca
    body:
      encoding: UTF-8
      string: ! '{"name":"A box","width":10,"height":10,"length":10,"value":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
      Etag:
      - ! '"7363e85fe9edee6f053a4b319588c086"'
    body:
      encoding: US-ASCII
      string: ! '{"success":true}'
  recorded_at: Thu, 04 Dec 2014 19:44:18 GMT
recorded_with: VCR 2.9.2
